.search-bar{
    margin-bottom: 25px;
    margin-top:50px;
}
.list-group-item:hover{
    background-color: #e0e0e0
}
.title-list-item{
    padding-top: 40px;
    text-align: center;
}
.img-VideoListItem{
    max-height: 100px;
    max-width: 100px;
}
body{
    background: linear-gradient(-45deg, #FFCDD2 50%, #B2EBF2 50%);
}
.card{
    box-shadow: 6px 6px 6px 6px #0000ff4f;
}